services:
  user-service:
    container_name: user-service
    build:
      context: ./user-service
    env_file:
      - .env
    ports:
      - '${USER_SERVICE_EXTERNAL_PORT}:${USER_SERVICE_INTERNAL_PORT}'
    volumes:
      - ./user-service/migrations:/autoservice/migrations
    depends_on:
      db-user-service-local:
        condition: service_healthy

  order-service:
    container_name: order-service
    build:
      context: ./order-service
    env_file:
      - .env
    ports:
      - '${ORDER_SERVICE_EXTERNAL_PORT}:${ORDER_SERVICE_INTERNAL_PORT}'
    volumes:
      - ./order-service/migrations:/autoservice/migrations
    depends_on:
      db-order-service-local:
        condition: service_healthy

  db-order-service-local:
    container_name: db-order-service-local
    image: postgres:15-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_DB=order-db
      - POSTGRES_PASSWORD=${ORDER_POSTGRES_PASSWORD}
    ports:
      - '${ORDER_DB_EXTERNAL_PORT}:${ORDER_DB_INTERNAL_PORT}'
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${ORDER_POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  db-user-service-local:
    container_name: db-user-service-local
    image: postgres:15-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_DB=user-db
      - POSTGRES_PASSWORD=${USER_POSTGRES_PASSWORD}
    ports:
      - '${USER_DB_EXTERNAL_PORT}:${USER_DB_INTERNAL_PORT}'
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${USER_POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  product-service:
    container_name: product-service
    build:
      context: ./product-service
    env_file:
      - .env
    ports:
      - '${PRODUCT_SERVICE_EXTERNAL_PORT}:${PRODUCT_SERVICE_INTERNAL_PORT}'
    volumes:
      - ./product-service/migrations:/autoservice/migrations
    depends_on:
      db-product-service-local:
        condition: service_healthy

  db-product-service-local:
    container_name: db-product-service-local
    image: postgres:15-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_DB=product-db
      - POSTGRES_PASSWORD=${PRODUCT_POSTGRES_PASSWORD}
    ports:
      - '${PRODUCT_DB_EXTERNAL_PORT}:${PRODUCT_DB_INTERNAL_PORT}'
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${PRODUCT_POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5