services:
  autoservice:
    container_name: user-service
    build:
      context: ./user-service
    env_file:
      - .env
    ports:
      - '${USER_SERVICE_EXTERNAL_PORT}:${USER_SERVICE_INTERNAL_PORT}'
